.slide {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section:nth-child(odd) .slide:nth-child(odd) {
  background-color: #3498db;
}

.section:nth-child(odd) .slide:nth-child(even) {
  background-color: #1abc9c;
}

.section:nth-child(even) .slide:nth-child(odd) {
  background-color: #9b59b6;
}

.section:nth-child(even) .slide:nth-child(even) {
  background-color: #e74c3c;
}
